<h2>Hi,<%= @user.username %>!
<br>
<%= @user.email%></h2>

<br>
<h3><a href="/books/new">Click Here to Add A New Book</a></h3>
<br>
<h3> <a href="/users/logout">Click Here to Log Out</a> </h3>
<br>
<h3> <a href="/books/:id/delete">Click Here to Delete Account</a> </h3>

<table>
  <tr>
    <th>Books</th>
  </tr>
<table border="1">
<thead>
    <th>Name</th>
    <th>Review</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    </thead>
  <% @books.each do |book| %>
  <% if book.user_id == current_user.id%>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.review %></td>
       <td><%= book.rating %></td>
      <td> <h2><a href="/books/<%=book.id%>/edit">Edit</a></h2> </td>
      <td> <h2><a href="/books/<%=book.id%>/delete">delete</a></h2> </td>
    </tr>
    <%end%>
  <% end %>
</table>