<title>Your Book</title>
  <body>
    Book Name:
    <%= @book.name %>
    <br>
    <br>
    Book Genre:
    <%= @book.genre %>
    <br>
    <br>
    Book Review:
    <%= @book.review %>
    <br>
    <br>
    Book Rating:
    <%= @book.rating %>
<br>
<br>
    <a href="/books/<%= @book.id %>/edit">Edit Book</a>
<br>
<br>

<form method="POST" action="/books/<%=@book.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Book">
</form>
<br>
<h4> <a href="/">Home</a> </h4>

<h3><a href="/users/<%=current_user.id%>">Account</a></h3>
</body>